<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: header (title='Search articles')"></div>

<style>
    .container {
        margin-top: 20px;
        width: 30%;
    }

    h2 {margin: 30px}

</style>

<body>

<div th:replace="fragments/menu"></div>

<div class="container ">

    <h2 class="text-primary">Search articles</h2>

    <form action="#" th:action="@{/articles/search}" method="get">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" th:name="title" placeholder="Title">
        </div>

        <div class="form-group">
            <label for="text">Article text </label>
            <textarea class="form-control" id="text" rows="3" th:name="text" placeholder="Type a part of text ..."></textarea>
        </div>

        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" th:name="author" placeholder="Author">
        </div>

        <div class="form-group">
            <label for="author">Created date from:</label>
            <input type="date" id="dateFrom" class="fadeIn second" th:name="dateFrom"
                   style="margin: 30px"
                   placeholder="Created date from">
        </div>

        <div class="form-group">
            <label for="author">Created date to:</label>
            <input type="date" id="dateTo" class="fadeIn second" th:name="dateTo"
                   style="margin: 30px"
                   placeholder="Created date to">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>


</div>

</body>
</html>